@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {

    font-size: 20px;

}

body {
    /*background-color: #708090;*/
    background-image: url('./background.jpg');
    background-repeat: cover;
   /* background-position: right;*/
    background-color: antiquewhite;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #3effe5;

}


h1,
h2,
h3,
h4,
h5,
h6,
.heading {

    font-weight: 400;
    font-style: italic;
    color: #00ffff;
    text-align: center;
    font-variant: small-caps;
    line-height: 1;
    letter-spacing: 2px;
}

h1 {
    color: #FFFFFF;
    font-size: 4.209rem;
    text-shadow:
        3px 3px 3px rgb(255, 0, 0),
        7px 7px 3px rgb(255, 123, 0),
        10px 10px 3px rgb(238, 255, 0),
        12px 12px 3px rgb(0, 255, 0),
        15px 15px 3px rgb(25, 0, 255),
        17px 17px 3px rgb(255, 2, 234);
}

h2 {
    color: #e67e22;
    font-size: 3.157rem;
    border: 3px dashed #ffffff; /* Jednostavna granica */
    margin: 5px;
    padding: 10px;
}

h3 {
    color: #e67e22;
    font-size: 2.369rem;
    border: 3px solid #ffffff; /* Jednostavna granica */
}

h4 {
    color: #e67e22;
    font-size: 1.777rem;
    border: 3px solid #ffffff; /* Jednostavna granica */
}

h5 {
    font-size: 1.333rem;
}

h6 {
    font-size: 1rem;
}

p {
    text-align: justify;
    line-height: 1.6;
    background: #1e7980; /* Bijela pozadina za tekst */
    padding: 10px;
    border-radius: 5px; /* Okrugli kutovi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Blaga sjena */
}

.ipsum {
    color: #ffffff;
    font-size: 4.209rem;
    text-shadow: -3px 3px 1px rgb(22, 170, 211),
        -5px 5px 1px rgb(14, 128, 163),
        -13px 13px 1px rgb(2, 81, 105);



}

strong {
    color: #e67e22;
    /* Narančasta boja za <strong> tekst */
    font-weight: 600;
}

/*Letters in a text can be transformed into uppercase or lowercase and existing transformations removed. */

.example-13 {
    text-transform: uppercase;
}

.example-14 {
    text-transform: capitalize;
}

.example-15 {
    text-transform: lowercase;
}

.example-16 {
    text-transform: none;
}

/* The first line of a text can be indented using absolute or relative      units.   */
/*
.example-17 {
    text-indent: 80px;
}

.example-18 {
    text-indent: 4em;
}

.example-19 {
    text-indent: -80px;
}

.example-20 {
    text-indent: -4em;
}
*/
.wrapper {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 3px solid #000000; /* Jednostavna granica */
    /* skračeni zapis od border-width, border-style, border-color*/
    padding: 80px 20px;
    margin: 20px auto;
    background: #1b3238;
    border-radius: 8px; /* Okrugli kutovi */
    box-sizing: border-box;
}